---
- name: Disable systemd-resolved if running
  systemd:
    name: systemd-resolved
    enabled: no
    state: stopped
  ignore_errors: yes

- name: Replace resolv.conf with external DNS pointer
  copy:
    dest: /etc/resolv.conf
    content: |
      nameserver {{ dns_server }}
    mode: '0644'
  when: not (internal_dns_enabled | default(false))
